    .main{
        display: flex;
        overflow: hidden;
    }
    .s1{
        margin-top: 100px;
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .s1 img{
        width:140px;
    }
    .s1 h1{
        font-weight: bold;
        font-size: 2.5rem;
        color: #FB6C04;
    }
    .s1 h2{
        width: 590px;
        text-align: center;
        margin-top: -10px;
        line-height: 30px;
        letter-spacing: 1px;
        font-size: 1.9rem;
        color: rgb(8, 67, 109);
        margin-bottom: 50px;
    
    }
    .blue{
        color: #186AA5;
    }
    .s1 input{
        width:420px;
        padding: 15px;
        border-radius: 40px;
    }
    .ant-btn-primary{
        background-color: #186AA5;
        margin: 10px;
        border-radius: 40px;
        width: 200px;
        height: 50px;
    }
    .ant-btn-danger{
        background-color: white;
        color: red;
        border: 1px solid red;
        margin: 10px;
        border-radius: 40px;
        width: 200px;
        height: 50px;
    }
    .s2{
        width: 50%;
        height: 100%;
        overflow: hidden;
    }
    .s2 img{
        width: 100%;
        height: 100%;
        display: block;
    
    }
@media  (max-width: 1200px) {

    .s2{
        display: none;
    }
    .s1{
        width: 100%;
        height: 100%;
        margin:100px auto;
    }

}
@media  (max-width: 650px) {
    .s1{
        margin-top: 50px;
    }
    .s1 img{
        width:100px;
    }
    .s1 h1{
        font-size: 1.4rem;
    }
    .s1 h2{
        width: 80%;
        text-align: center;
        margin-top: -10px;
        line-height: 23px;
        letter-spacing: 1px;
        font-size: 1rem;
        color: rgb(8, 67, 109);
        margin-bottom: 30px;
    
    }
    .s1 input{
        width:300px;
        margin-top: -10px;
    }
  
    .ant-btn-primary{
        background-color: #186AA5;
        box-sizing: border-box;
        margin: 0px;
        width: 300px;

    }
    .ant-btn-danger{
        background-color: white;
        color: red;
        border: 1px solid red;
        box-sizing: border-box;
        width: 300px;

    }


}

