    .main{
        display: flex;
        overflow: hidden;
        height: 100vh;

    }
    .s1{
        align-self: center;
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .s1 img{
        width:140px;
    }
    .s1 h1{
        font-weight: bold;
        font-size: 2.3rem;
        color: #FB6C04;
    }
    .s1 h2{
        width: 590px;
        text-align: center;
        margin-top: -10px;
        line-height: 32px;
        font-size: 1.7rem;
        color: rgb(8, 67, 109);
        margin-bottom: 50px;
        font-weight: normal;
    
    }
    .blue{
        color: #186AA5;
    }
    .s1 input{
        width:370px;
        padding: 20px;
        border-radius: 40px;
        margin-top: 20px;
        border: 1px solid #aaa;
    }
    .s1 .ant-btn-primary{
        background-color: #236abb;
        border:1px solid #236abb;
        color: white;
        margin: 30px 5px 0px 0px;
        border-radius: 40px;
        width: 200px;
        height: 50px;
    }
    .s1 .ant-btn-danger{
        background-color: white;
        color: red;
        border: 1px solid red;
        border-radius: 40px;
        width: 200px;
        height: 50px;
    }
    .s2{
        width: 50%;
        height: 100%;
        overflow: hidden;
    }
    .s2 img{
        width: 100%;
        height: 100vh;
        display: block;
    
    }

    .s1 .ant-alert-error{
        color: rgb(196, 4, 4);
        margin-top: 20px;

    
    }
    .s1 .messageColor{
        color: rgb(196, 4, 4);
    }
    .ant-message .ant-message-notice{
        padding: 20px;
        background-color: #c5e924;
        color: white;
        width: 300px;
        padding: 20px;
        margin: 20px;
        box-sizing: border-box;

    }

    
@media  (max-width: 1200px) {

    .s2{
        display: none;
    }
    .s1{
        width: 100%;
        height: 100%;
        margin:50px auto;
    }

}
@media  (max-width: 580px) {
    .main{
        height: 100%;
    }
    .s1 img{
        width:100px;
    }
    .s1 h1{
        font-size: 1.2rem;
    }
    .s1 h2{
        width: 80%;
        text-align: center;
        margin-top: -10px;
        line-height: 25px;
        font-size: .9rem;
        color: rgb(8, 67, 109);
        margin-bottom: 10px;
    
    }
    .s1 input{
        width:220px;
        margin-top: 10px;
    }
  
    .s1 .ant-btn-primary{
        margin:20px 0px 0px 0px;
        width: 270px;
        display: block;
    }
    .s1 .ant-btn-danger{
        width: 270px;
        margin-top: 10px;
    }


}

