
* {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}

.header {
    overflow: hidden;
    padding: 0;
    margin: 0;;
    height: 100px;
    width: 100%;
  }

  .img-logo{
    height: 87px;
    width: 183px;
    margin-left: 15px;
    margin-top: 4px;
    float: left;
  }


.header-right {
  float: right;
  margin-right: 30px;
  margin-top: 31px;
  font-size: 27px;
  color: #3b5a6f;
  }