@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}

.header {
    overflow: hidden;
    padding: 0;
    margin: 0;;
    height: 100px;
    width: 100%;
  }

  .img-logo{
    height: 93px;
    width: 200px;
    margin-left: 15px;
    margin-top: 4px;
    float: left;

  }


.header-right {
    float: right;
  }