
* {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    height: 30%;
  }

  .header_logo{
    height: 30%;
    width: 38%;
    margin-left: 0px;
    margin-top: 20px;
  }


.header_title {
  margin-right: 35px;
  margin-top: 15px;
  font-size: 27px;
  color: #3b5a6f;
  }

  .header_subTitle { 
    color:#ff7d00;
  }