.container {
  display: flex;
}

.image {
  width: 47%;
  height: 100vh;
}
.contant{
  margin: 140px auto 10px 70px;
}

.container .contant .ant-btn-primary{
  width: 220px;
  border: 1px solid #3b5a6f;
  border-radius: 38px;
  background-color: white;
  color: #3b5a6f;
  margin-top: 10px;
  font-size: 15px;
  outline: none;
  display: inline-block;
}
.ant-btn .ant-btn-primary :hover {
  background-color: #3B5A6F;
  color: white;
}