.container {
  display: flex;
}

.image {
  width: 44%;
  height: 100vh;
}
.contant{
  margin: 150px auto 10px 70px;
}

.btns{
  display: flex;
}

.container .contant .ant-btn-primary
{
  width: 180px;
  border: 1px solid #186AA5;
  border-radius: 38px;
  background-color: white;
  color: #186AA5;
  margin-top: 10px;
  font-size: 12px;
  font-weight: bold;
  outline: none;
  margin-right: 10px;
  
}
.container .contant .ant-btn-primary:hover {
  background-color: #186AA5;
  color: white;
}