
* {
    font-family: 'Poppins', sans-serif;
}

.footer {
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #3b5a6f;
    text-align: center;
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

.footer_copyright{
	color: #ffffff;
   }
