.container{
  display: flex;
  margin-top: 80px;
}

.btns{
  width: 200px;
  margin: 50px 20px 10px 50px ;
  display: flex;
  flex-direction: column;
}

.btns .ant-btn-primary {
  margin-top: 15px;
}

.events {
  display: block;
}
.users{
  width: 100%;
}