@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    line-height: 1.5;

  }
  
  img {
    max-width: 100%;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: rgb(255, 255, 255);
  }
  
  .card {
    position: relative;
    background: white;
    width: 400px;
    height: 75vh;
    border-radius: 6px;
    padding: 2rem;
    color: rgb(24, 23, 23);
    box-shadow: 0 .25rem .25rem rgba(0,0,0,0.2),
      0 0 1rem rgba(0,0,0,0.2);
    overflow: hidden;
  }
    
    .card__image-container {
      margin: -2rem -2rem 1rem -2rem;
    }
    
  
    .card__image{
      opacity: 0;
      animation: ImageFadeIn .8s 1.4s forwards;
    }
  
    
    .card__content {
      margin-top: 3rem;
      opacity: 0;
      animation: ContentFadeIn .8s 1.6s forwards;
    }

    .card__p {
        text-align: left;
        margin-top: 10px;
    }



    .card__button .ant-btn-primary{
    border: 1px solid #3B5A6F; 
    background-color: white;
    color: #3B5A6F;
    width: 224px;
    height: 49px;
    border-radius: 41px;
    margin-top: 19px;
    outline: none;
    }

   
    button .ant-btn .ant-btn-primary :hover {
      background-color: #3B5A6F;
      color: white;
    }
    

  
  
  
  @keyframes ContentFadeIn {
    0% { transform: translateY(-1rem); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
  }
  
  @keyframes ImageFadeIn {
    0% { transform: translate(-.5rem, -.5rem) scale(1.05); opacity: 0; filter: blur(2px); }
    50% { opacity: 1; filter: blur(2px); }
    100% { transform: translateY(0) scale(1.0); opacity: 1; filter: blur(0); }
  }

